.navbar-default {
    height: 70px;
  
}

.navbar-default .navbar-nav li a {
	color: #000;
}

.navbar-nav {
	padding-top: 10px;
}

.navbar-brand {
	padding-top: 7px;
}

.navbar-brand img {
	width: 160px;
}
