
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Basic Resets
@import "resets";

@import "navbar";

@import "form";

@import "sections";

@import "footer";

@import "responsive";



// Banner 

.jumbotron {
	padding-top: 0px;
	margin-top: 0px;
	height: 600px;
	background: url(../img/banner.jpeg);
	background-size: cover;
	background-position: 40%;
}


.jumbotron #hero {
	margin-top: 165px;
}

.jumbotron h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}


h3.black {
	color: black;
	font-size: 48px;
}

h3.green {
	color: #60BA62;
	margin-top: 10px;
	font-size: 46px;
	font-weight: bold;

}

#hero p {
	width: 80%;
	color: black;
}

.android-phone {
     width: 450px;
}

.get-app h2 {
	color: black;
	font-weight: bold;
	font-size: 38px;
	margin: 35px;
}

.get-app p {
	margin: 35px;
}

.get-app .stores img {
	width: 200px;
	margin-left: 25px;
}















